<app-encabezado></app-encabezado>

<div class="container">
    <div class="row">
        <div class="col">
<app-acerca-de></app-acerca-de>
        </div>
    </div>    
    <div class="row">
        <div class="col">
<app-experiencia-y-educacion></app-experiencia-y-educacion>
        </div>
    </div>   
    <div class="row">
        <div class="col">
<app-skills></app-skills>
        </div>
    </div>
    <div class="row">
        <div class="col">
<app-proyectos></app-proyectos>
        </div>
    </div>
</div>
