<div>
    <h2>Proyectos
        <span *ngIf="canEdit()" style="font-size: 1.5rem;">
            <fa-icon [icon]="faPlus" (click)="open('addProyecto')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>
<div class="container">
    <div class="row" *ngFor="let proyecto of proyectos">
        <div class="col">
            <p>
                <div>
                <b>{{proyecto.nombreDelProyecto}}</b>
                </div>
                <div>
                {{proyecto.descripcion}}
                </div>
                <div>
                {{(getFormattedDate(proyecto.fechaDeRealizacion))}}
                </div>
                <div *ngIf="proyecto.link">                
                <a [href]="proyecto.link" target="_blank">Link</a>
                </div>
            <p></p>
         </div>         
            <div class="col">
                <div class="row">
                  <div class="col" *ngIf="canEdit()">
                   <fa-icon [icon]="faEdit" (click)="open('editProyecto', proyecto.idProyecto)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>

                    <fa-icon [icon]="faTrash" (click)="open('deleteProyecto', proyecto.idProyecto)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>
                </div>
            </div>
        </div>
    </div>           