<div>
    <h2>Hard & Soft Skills
        <span style="font-size: 1.5rem;"  *ngIf="canEdit()">
            <fa-icon [icon]="faPlus"(click)="open('addSkill')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>

<div class="container">
    <div class="row" *ngFor="let skill of skills">
        <div class="col">
            <circle-progress [percent]="skill.porcentaje" [radius]="80" [showUnits]="false" [title]="skill.nombreSkill" [titleColor]="'black'"
            [titleFontSize]="'2em'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgb(128, 0, 70)'" [innerStrokeColor]="'black'" [animation]="true"
            [animationDuration]="500"></circle-progress>
        </div>
        <div class="col" *ngIf="canEdit()">
            <fa-icon [icon]="faEdit" (click)="open('editSkill', skill?.id)">
            <div>Open confirm modal</div>
            <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
        </fa-icon>

        <fa-icon [icon]="faTrash" (click)="open('deleteSkill', skill?.id)">
            <div>Open confirm modal</div>
            <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
        </fa-icon>
    </div>
        
            
    </div>
</div>
