<div>
    <h2>Experiencia
        <span style="font-size: 1.5rem;">
            <fa-icon [icon]="faPlus" (click)="open('addExperiencia')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>

<div class="container">
    <div class="row" *ngFor="let experiencia of experiencias">
        <div class="col">
            <p>
                {{experiencia.nombreEmpresa}}
                {{experiencia.descripcion}}
                {{experiencia.esTrabajoActual ? "(Trabajo Actual)" : "-"}}
                {{experiencia.fechaInicio}}
                {{experiencia.fechaFin}}
            </p>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <fa-icon [icon]="faEdit" (click)="open('editExperiencia', experiencia.idExperiencia)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>>
                    </fa-icon>
                    <fa-icon [icon]="faTrash" (click)="open('deleteExperiencia', experiencia.idExperiencia)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <h2>Educación
        <span style="font-size: 1.5rem;">
            <fa-icon [icon]="faPlus" (click)="open('addEducacion')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>
<div class="container">
    <div class="row" *ngFor="let educacion of educaciones">
        <div class="col">
            <div>
                {{educacion.carrera}}
                {{educacion.instituto}}
            </div>
        </div>
        {{educacion.estudiaActualmente}}
        {{educacion.fechaInicio}}
        {{educacion.fechaFin}}

        <div class="col">
            <div class="row">
                <div class="col">
                    <fa-icon [icon]="faEdit" (click)="open('editEducacion', educacion.id)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>
                    <fa-icon [icon]="faTrash" (click)="open('deleteEducacion', educacion.id)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small>
                        </div>>
                    </fa-icon>
                </div>
            </div>
        </div>