<div>
    <h2>Experiencia
        <span style="font-size: 1.5rem;" *ngIf="canEdit()">
            <fa-icon [icon]="faPlus" (click)="open('addExperiencia')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>

<div class="container">
    <div class="row" *ngFor="let experiencia of experiencias">
        <div class="col">
            <p>
               <div>
                  <b>{{experiencia.nombreEmpresa}}</b>
               </div>
               <div>
                    {{getFormattedDate(experiencia.fechaInicio)}} - 
                    {{experiencia.esTrabajoActual ? "Actualidad" : getFormattedDate(experiencia.fechaFin)}}    
                </div>
                <div>
                    {{experiencia.descripcion}}
                </div>
                <p>
                </p>
        </div>


        <div class="col">
            <div class="row">
                <div class="col" *ngIf="canEdit()">
                    <fa-icon [icon]="faEdit" (click)="open('editExperiencia', experiencia.idExperiencia)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>>
                    </fa-icon>
                    <fa-icon [icon]="faTrash" (click)="open('deleteExperiencia', experiencia.idExperiencia)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <h2>Educación
        <span style="font-size: 1.5rem;" *ngIf="canEdit()">
            <fa-icon [icon]="faPlus" (click)="open('addEducacion')">
                <div>Open confirm modal</div>
                <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
            </fa-icon>
        </span>
    </h2>
</div>
<div class="container">
    <div class="row" *ngFor="let educacion of educaciones">
        <div class="col">
            <p>
                <div>
                <b>{{educacion.carrera}}</b>
                </div>
                <div>
                {{educacion.instituto}}
                </div>
                <div>
                {{getFormattedDate(educacion.fechaInicio)}} - 
                {{educacion.estudiaActualmente ? "Actualidad" : getFormattedDate(educacion.fechaFin)}} 
                </div>
                <p>
                </p>
        </div>

        <div class="col">
            <div class="row">
                <div class="col" *ngIf="canEdit()">
                    <fa-icon [icon]="faEdit" (click)="open('editEducacion', educacion.id)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>>
                    </fa-icon>
                    <fa-icon [icon]="faTrash" (click)="open('deleteEducacion', educacion.id)">
                        <div>Open confirm modal</div>
                        <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small>
                        </div>>
                    </fa-icon>
                </div>
            </div>
        </div>